
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/Grafics.js"></script>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
<div id="curve_chart5" style="width: 900px; height: 500px"></div>
<div id="curve_chart6" style="width: 900px; height: 500px"></div>
<div id="barchart_values" style="width: 900px; height: 1000px"></div>
<div id="pidor" style="width: 900px; height: 500px"></div>
<div id="donutchart" style="width: 900px; height: 500px;"></div>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
<div id="barchart_values2" style="width: 900px; height: 1000px"></div>
<div hidden id="jsondata">@Newtonsoft.Json.JsonConvert.SerializeObject(Model)</div>
<div hidden id="jsonmetro">@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Metro)</div>
